/* Setup grid for clients */

.client-container{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
}

/* Heading box */
.left-clients{
    width: 33vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Logo box */
.right-clients{
    width: 66vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.top-logo-row, .middle-logo-row, .bottom-logo-row{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

/*each logo pictures boxes */

.clients-logo-wrapper{
    width: 15vw;
    height: 15vh;

    border:1px solid red;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* SETUP DONE */
/* ---------- */


/* Logo Hover effect */
.client-figure img{
    transition-duration: 0.5s;
}

.client-figure img:hover{
    opacity:0.65;
    transition-duration: 0.5s;
}
