/* absolute position for header */
.header-menu{
    position: absolute;
    width: 100vw;
    height: 50px;

    z-index: 4;

    display: flex;

    justify-content: flex-end;
}

    /* header text */
    .header-menu p{
        padding:0;
        margin-right: 10px;
    }

    /* all cases wrapper (position-margin) */
    .header-cases-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;

        margin:15px 40px 0px 0px;
    }

    /* all cases hover animation */
    .header-cases-wrapper li:hover{
        filter: invert(50%) sepia(100%) saturate(7124%) hue-rotate(357deg) brightness(94%) contrast(115%);
        transition: ease-in;
    }



/* ----- */

/* absolute position for sidebar */
.side-menu-container{
    position: absolute;
    z-index: 5;
}

/* side menu */

aside{
    width: 125px;
    height: 100vh;
    border-right: 1px solid rgb(109, 64, 64);

}

    /* Logo */

    .logo{
        width: 100%;
        height: 200px;
        /* border-bottom: 1px solid red; */

        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .logo img{
        margin-top: 35px;
    }

    /* Hamburger menu */

    .hamburger-menu{
        width: 100%;
        height: 150px;
        /* border-bottom: 1px solid red; */

        display: flex;
        justify-content: center;
        align-items: center;
    }
        /* Hamburger hover Animation */
        .hamburger-menu img:hover{
            filter: invert(50%) sepia(100%) saturate(7124%) hue-rotate(357deg) brightness(94%) contrast(115%);
        }

    /* external links / social media */

    .aside-links{
        width: 100%;
        height: 30vh;
        min-height:250px;
        /* border-bottom: 1px solid red; */

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aside-links ul {
        list-style-position: inside;
        padding: 0;
    }
    .aside-links li{
        margin-top: 15px;
    }

    /* external links hover animation */
        .aside-links li:hover{
            filter: invert(50%) sepia(100%) saturate(7124%) hue-rotate(357deg) brightness(94%) contrast(115%);
        }


/* ------ */

/* absolute position for intro buttons */

.intro-buttons{
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 4;

    display: flex;

}
    /* buttons */
    .intro-buttons p{
        margin-right: 50px;
    }

/* Video */
.video-container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    z-index: 3;
}

    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/* ------ */

/*Intro heading*/

.intro-heading{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}