.loading-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;

    background-color: black;
}
.loader{
    height: 200px;
    width: 200px;
    /* background-image: url('../../media/assets/logo/logo_loading.gif'); */
}


/* Blur on loading */
#video{
    transition:350ms ease-in-out;
}

.blur{
    filter:blur(35px);
    transition: 16s ease-in-out;
}
