/* Setup grid for clients */

.client-container{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
}

/* Heading box */
.left-clients{
    width: 40vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
    .left-clients h1{
        padding-left: 70px;
    }

/* Logo box */
.right-clients{
    width: 60vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-logo-row, .middle-logo-row, .bottom-logo-row{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

/*each logo pictures boxes */

.clients-logo-wrapper{
    width: 15vw;
    height: 30vh;

    border:1px solid var(--special-red);
    display: flex;
    align-items: center;
    justify-content: center;
}
.client-figure img{
    width: 15vw;
    height: 30vh;
    object-fit: contain;
}

/* SETUP DONE */
/* ---------- */


/* Logo Hover effect */
.client-figure img{
    transition-duration: 0.5s;
}

.client-figure img:hover{
    opacity:0.65;
    transition-duration: 0.5s;
}
