/*setting up a grid for projects*/


/* main grid container */
.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*top and bottom*/
.top-projects-row, .bottom-projects-row{
    display: flex;
}

/* each container(box) */
.project-wrapper{
    width: 33vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.project-img{
    width: 250px;
    height: 400px;
}

/* SETUP DONE */
/* ---------- */

/* Project Tags */

.project-tag{
    font-size: 14px;
}

/* Link styling */
.project-figure a{
    text-decoration: none;
}



/* Img Hover Effect */

.project-figure img{
    transform: translateY(0px);
    transition: 0.3s;
}

.project-figure img:hover{
    transform: translateY(-10px);
    transition: 0.25s ease-in;
}

