#case-conclusion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.case-conclusion-text{
    width: 65vw;
    height: 40vh;
}
    .case-conclusion-text p{
        line-height: 1.6;
        margin-left: 50px;
        width: 800px;
    }

.carousel-conclusion{
    width: 80vw;
}


    .carousel-conclusion img{
        width: 300px;
        height: 200px;
    }